@import "colors";
@import "fonts";
@import "partials/top";
@import "partials/news";
@import "partials/parallax";

body {
  font-family: $opensans;
  font-size: 16px;
  margin: 0;
}

p {
  color: $white;
}

section {
  padding: 3em;
}