.news {
  text-shadow: 1px 1px $black;
  color: $light-grey;

  h2 {
    font-size: 3em;
    text-transform: uppercase;
    text-align: center;
    font-weight: 100;
  }

  .feed {

    .news-item {
      padding: 20px;
    }

    button {
      float: left;
      margin: 5px;
      background: transparent url('../i/more.svg') no-repeat;
      border: 0;
      min-height: 20px;
      min-width: 20px;
    }

    h3 {
      text-transform: uppercase;
      font-weight: 500;
      font-size: 16px;
      margin: 2px 0 0 0;
    }

    img {
      max-width: 300px;
    }

    .break {
      width: 90%;
      border-bottom: 1px dotted $black;
    }
  }
}