.top {
  text-transform: uppercase;
  text-align: center;
  font-weight: 100;
  color: $light-grey;
  text-shadow: 1px 1px $black;

  h1 {
    font-size: 4rem;
    padding-bottom: 40px;
    font-weight: 100;
  }
}

.clock {

  p {
    margin: 0;
  }

  .date {
    font-size: 1.5em;
    clear: both;
  }

  .time {
    font-size: 3.7em;
    clear: both;
  }
}